* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', 'Times New Roman', sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    height: 6rem;
    width: 100%;
    max-width: 1280px;
    top: 0;
    background-color: white;
}

.logo {
    font-size: 1.5rem;
    line-height: 0.3rem;
}

.logo a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

nav ul li h2 {
    font-weight: lighter;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #2d59b7;
}

main {
    margin-top: 8rem;
    width: 100%;
}

section {
    border-bottom: 1px solid lightgrey;
}

#introduction {
    display: flex;
    width: 100%;
    height: 20rem;
    gap: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.introduction-text {
    width: 100%;
    max-width: 60%;
}

.introduction-text h1 {
    font-size: xx-large;
}

.introduction-image {
    width: 100%;
    max-width: 30%;
}

#our-services {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 2rem;
    height: 50rem;
}

.services {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    width: 100%;
}

.service-card {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 1rem;
    width: calc(30% - 4rem);
    flex-basis: calc(30% - 4rem);
}

@media (max-width: 1024px) {
    .service-card {
        width: calc(45% - 4rem);
        flex-basis: calc(45% - 4rem);
    }
}

@media (max-width: 768px) {
    .service-card {
        width: 100%;
        flex-basis: 100%;
    }
}

.button {
    background-color: #2d59b7;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.button:visited {
    color: white;
}

.button:hover {
    background-color: #1a3d8f;
    cursor: pointer;
}

.button a {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    width: 100%;
    max-width: 1280px;
    border-top: 2px solid lightgrey;
    background-color: white;
}

.logo-footer {
    font-size: 1rem;
    line-height: 0.3rem;
}

.logo-footer a {
    text-decoration: none;
    color: black;
}